# Python cache files
__pycache__/
*.py[cod]

# Environment variables file
.env

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Test and coverage reports
.coverage
coverage.xml
*.cover
*.py,cover
nosetests.xml
test.xml
tox.xml
*.log
*.pot

# IDE specific
.vscode/
.idea/
*.swp
*.swo